body 
{ 
    font-family: Inter, Arial, sans-serif; 
    background:#f7f9fc; 
    color:#222; 
    margin:0; 
    padding:0; 
}
.app { max-width:1100px; margin:20px auto; padding:16px; }
header h1 { margin:0; }
main { display:flex; gap:20px; margin-top:16px; }
.left { width:220px; }
.right {
  max-width: 900px;
  width: 100%;
}
.upload, .chat { background:white; border-radius:8px; padding:16px; box-shadow: 0 2px 8px rgba(0,0,0,0.06); }
.controls { display:flex; gap:8px; margin-bottom:12px; }
.controls input[type="text"] { flex:1; padding:8px; }
.controls button, .upload button { padding:8px 12px; }
.result { margin-top:12px; background:#fbfcfe; padding:12px; border-radius:6px; min-height:120px;}
.answer { max-width: 800px;}
.response {max-width: 750px; text-wrap: unset}
.sources { margin-top:12px; }
.chunk { font-size:0.95rem; margin-bottom:6px; }
.sim { font-size:0.8rem; color:#666; }
.buttons { background-color: #CC0033; color: white; border-radius: 8px;}
input {padding: 0px 0px 5px 0px;}
h2, h1 {color: #003366;}
footer { margin-top:18px; text-align:center; color:#666;}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CC0033;
}
.navbar butdovertical ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #CC1111;
}